<h1>3D Secure</h1>
<ul>
	<li>Submit Purchase
		<ul>
		  <li><%= link_to "Submit an Enrollment", submit_enrollment_path %></li>
		</ul>
	</li>
	<li>Authentication
		<ul>
			<li><%= link_to "Submit Authentication Request", submit_authentication_path %></li>
		</ul>
</ul>